.top-bar-container {
  background: var(--color-primary-dark);
  width: 100%;
}

.top-bar-container .top-bar-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-in-primary);
  padding: 1.6rem 0;
}

.top-bar-container .top-bar-content a {
  height: 3.2rem;
  transition: opacity 0.2s;
}

.top-bar-container .top-bar-content a:hover {
  opacity: 0.6;
}

.top-bar-container .top-bar-content span {
  font: 500 1.6rem Archivo;
}

.top-bar-container .top-bar-content > img {
  height: 1.6rem;
}

@media(min-width: 700px) {
  .top-bar-container .top-bar-content {
    max-width: 1100px;
  }
}
