.logo-banner {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 10%;
  
  background-color: var(--color-primary);
  color: var(--color-text-in-primary);

}

.logo-banner-content {
  width: 62%;
  height: 70%; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../../assets/images/Background.svg');
}

@media (min-width: 700px) {
  .logo-banner-content {
    height: 94%;
    width: 88%;
    background: url('../../assets/images/logo-banner-background.svg');

  }
}

