.logo-container {
  text-align: center;
}

.logo-container img {
  height: 10rem;
}

.logo-container h2 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-top: 0.5rem;
}

@media (min-width: 1100px) {
  .logo-container{
    align-self: center;
    text-align: left;
    margin: 0;
  }

  .logo-container h2 {
    text-align: initial;
    font-size: 2.6rem;
    max-width: 34rem;
  }
}
